@import "../../assets/styles/_variable";
.list-equipmets {
  .column-right {
    text-align: right !important;
  }

  th {
    background-color: transparent !important;
  }

  td {
    &.column-money {
      opacity: .5;
    }
  }

  .ant-select-selection, .ant-select-selection--single, .ant-input-number, input {
    border: none !important;
    background-color: transparent !important;
  }

  .set-time {
    &:hover {
      cursor: pointer;
      color: @primary-color;
    }
  }
}