@import "../../assets/styles/_variable";

.content-footer {
    margin-top: 75px;
    background-color: @bg-card;
    padding-top: 10px;
    height: 100px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @gray-dark-text-color;
}