@import "../../assets/styles/_variable";

.banner {
    padding-top: 35px;
    padding-left: 90px;
    background-image: url("../../assets/images/bg-conta-amarelo.png");
    background-repeat: no-repeat;
    height: 800px;
    color: @bg-card;

    .title {
        color: @bg-card;
        font-size: 55px;
        width: 740px;
        padding-top: 30px;
        font-weight: bold;
    }
    .subtitle{
        color: @bg-card;        
        font-size: 40px;
        width: 600px;
        font-weight: bold;
    
    }
    .content-links {
        padding-top: 30px;

        span {
            margin-left: 20px;
            font-size: 20px;
        }
    }
    .btn-calculate {
        font-size: 18px;
        background-color: @bg-card;
        height: 50px;
        width: 230px;
        outline: none;
        cursor: pointer;
        color: @primary-color;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 55px;
        
    }
}