
._margin {
  margin: @spacing;

  &-top {
    margin-top: @spacing;
  }

  &-right {
    margin-right: @spacing;
  }

  &-bottom{
    margin-bottom: @spacing;
  }

  &-left {
    margin-left: @spacing;
  }
}